body{
    font-family:"Cormorant";
    
}

h1 {

    display: inline-block;
    font-weight: 300;
    margin: 10px 30px 0px 20px;
    
}

nav{
    display: inline-block;
    
}

.links li{
    display: inline-block;
    
}

.links li a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    
}



.links li a:hover {
border-bottom: 2px solid black;
padding: 4px;
}

img{
    width: 45%;
    height: 400px;
}